.button {
    background-color: #008080;
    border: none;
    color: #040a0a;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px;
    cursor: pointer;
    border-collapse: collapse;
    width: 15%
  }
  .button-radius{
    border-radius: 12px;
  }