<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a data-target="mobile-menu" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a> 
           <ul class="right hide-on-med-and-down">
            <li>
              <a routerLink="/register-user">Registrar usuario</a>
              <a routerLink="/users">Lista de usuarios</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>