<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <span class="container">
          <a routerLink="/">
            <img src="../../LM.png" alt="LlajtaMarket logo" width="250" height="70">
          </a>
         </span>
        <!-- <div class="container">
          <a data-target="mobile-menu" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a> 
           <ul class="right hide-on-med-and-down">
            <li>
              <a routerLink="/">Tienda</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
  </div>

  <ul isoSidenav class="sidenav" id="mobile-menu">
    <li>
      <a routerLink="/" class="sidenav-close">Tienda</a>
    </li>
  </ul>
</header>
<iso-menu-product></iso-menu-product>