<div class="container">
  <h1>Registro de Producto</h1>
  <div class="row">
    <div class="col s5">
      <img class="responsive-img"
        src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/12eba80a-7c07-4047-a441-d5c108732475-Courtesy-Polaroid-2.jpg">
    </div>
    <form class="col s8">
      <div class="input-field">
        <input id="name" type="text" class="validate">
        <label for="name">Nombre</label>
      </div>

      <div class="input-field">
        <input id="description" type="text" class="validate">
        <label for="description">Descripcion</label>
      </div>

      <div class="input-field">
        <input id="price" type="number" class="validate">
        <label for="price">Precio</label>
      </div>

      <div class="input-field">
        <input id="quantity" type="number" class="validate">
        <label for="quantity">Cantidad</label>
      </div>

      <div class="row">
        <button class="btn waves-effect s9" name="action">Cancelar
          <i class="material-icons left">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="action">Registrar
          <i class="material-icons left">send</i>
        </button>
      </div>
    </form>
  </div>
</div>