<div class="container">
  <div class="row">
    <div *ngFor="let product of products$ | async" class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image">
          <span class="card-title" style="color:red;">{{product.name}}</span>
        </div>
        <div class="card-content">
          <p>
            {{product.details}}<br />
            <b> Cantidad: </b> {{product.amount}}<br />
            <b>Precio: </b>Bs. {{product.price}}
          </p>

        </div>
        <div class="card-action" [class.selected]="product === selectedProduct">
          <!-- <a a routerLink = "product" (click)="openForm()"><b>Editar</b></a> -->

          <a a href="/objetivo" (click)="openForm()"><b>Editar</b></a>
        </div>
      </div>
    </div>
  </div>
</div>